 
<%- include('../includes/head.ejs') %>

<main>

<div class="container movies-header">
    <h3>Movies</h3>
    <% if(!editing) { %>
    <div>
        <button onclick="location.href = '/movies';">All Movies</button>
        <button onclick="location.href = '/movies/add-movie';">Add Movie</button>
    </div>
    <% } %>
</div>


      