 
<%- include('../includes/head.ejs') %>

<%- include('../includes/body-main-header.ejs') %>

<main>

<div class="container">
    <h3>Users</h3>
    <% if(!editing) { %>
    <div>
        <button onclick="location.href = '/users';">All Users</button>
        <button onclick="location.href = '/users/add-user';">Add User</button>
    </div>
    <% } %>
</div>


      