<%- include('./includes/head.ejs') %>
<%- include('./includes/body-main-header.ejs') %>

    <main>
        <div class="container">
            <h1><%= pageTitle %></h1>
        </div>

    </main>
<%- include('./includes/end.ejs') %>