<form action="/subscriptions/" method="post">
  <label for="movie-select">Select a movie:</label>
  <select id="movie-select" name="movieId" required>
    <% movies.forEach(movie => { %>
      <option value="<%= movie._id %>"><%= movie.name %></option>
      <% }) %>
   
  </select>

  <label for="date-input">Select a date:</label>
  <input type="date" id="date-input" name="date" required>
  <input type="hidden" name="memberId" value="<%= memberId %>">
  <input type="submit" value="Subscribe">
</form>


